.stories{
    border: 1px solid #ccc;
    padding: 10px;
    width: 450px;
    margin-top: 25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    transition: .2s;
}
.stories::-webkit-scrollbar{
    display: none;
}
.stories .btn{
    position: absolute;
    top: 35%;
    right: 5px;
    background-color: rgb(224, 224, 224);
    color: var(--main-color);
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.stories .btn2{
    position: absolute;
    top: 35%;
    left: 5px;
    background-color: rgb(224, 224, 224);
    color: var(--main-color);
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Responsive */
@media screen and (max-width:650px) {
    .stories{
        width: 90vw;
        margin: 10px  auto;
    }
 
}