.profile{
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
}
.divline{
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: #ccc;
}

@media screen and (max-width:500px) {
.profile{
    width: 95%;
}
.divline{
    margin-top: 40px;
}
}