.navbar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.navbar .dropdown{
    width: 100px;
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown__box{
    width: 110%;
    padding: 5px 10px;
position: absolute;
background-color: #fff;
box-shadow: 0 0 9px 1px rgba(0,0,0,0.1);
border-radius: 5px;
top:40px;
left: 0;
text-align: center;
}
.dropdown__box .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}
.list__item{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}
.list__item:hover{
    cursor: pointer;
}
.dropdown img{
    width: 100%;
}
.searchbox{
    width: 250px;
    margin-left: 200px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(224, 224, 224, 0.562);
    padding: 7px 10px;
    border-radius: 7px;
}
.searchbox .search__icon{
    color: gray;
    font-size: 20px;
    margin-right: 5px;
}
.searchbox input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
/* right__menu */
.right__menu{
    display: flex;
    align-items: center;
    position: relative;
}
.right__menu img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
cursor: pointer;
}

.right__menu .MuiSvgIcon-root{
    width: 27px;
    height: 27px;
    margin: 0 10px;
color: rgb(36, 36, 36);
}
.right__menu .list__item{
    margin: 20px 0;
}
.right__menu .dropdown__box .MuiSvgIcon-root{
    width: 20px;
    height: 20px;
}
.MuiSvgIcon-root:hover{
    cursor: pointer;
}