.feed__container
{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.feed{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.suggestions{
    position: sticky;
    top: 80px;
    margin-top: 80px;
    margin-right: 100px;
    padding: 20px;
    width: 400px;
    transition: .3s;
}

.suggestions .MuiSvgIcon-root{
    display: none;
}
.suggestion__header{
    display: flex;
    align-items: center;
}
.suggestion__header p{
    font-weight: 500;
    font-size: 14px;
}
.suggestion__header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.suggested{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.616);
    margin: 10px 5px;
}
.suggest__container{
    overflow-y: scroll;
    height: 70vh;
}
.suggest__container::-webkit-scrollbar{
    width: 2px;
}
.suggest__container::-webkit-scrollbar-track{
    background-color: #ccc;
}
.suggest__container::-webkit-scrollbar-thumb{
    background-color: rgb(148, 148, 148);
}
.showIcon{
    position: sticky;
    left: 0;
    top: 80px;
    color: transparent;
}
/*  */
/* Responsive */
@media screen and (max-width:650px) {
    .suggestions{
      transform: translate(-110%);
      background-color: #fff;
      width: 550px;
      z-index: 123;
      border-radius: 10px;
    }
   .showIcon{
    color:#000;
   }
    .suggestions.hide{
       display: none;

    }
    .suggestions .hideIcon{
        display: block;
        position: relative;
        top: -20px;
        left: -16px;
    }
    .suggest__container::-webkit-scrollbar{
        display: none;
    }
 
}